.kt-portlet__head {
	justify-content: flex-start !important;
}

.kt-portlet__head-toolbar {
	position: relative;
	width: 100%;
}

.new-button {
	align-content: space-evenly;
	float: right !important;
	position: absolute;
	right: 0;
	top: 12px;
}
