.search-result-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.search-result--item {
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  margin: 10px;
  display: flex;
  font-size: large;
  width: 35%;
  height: 350px;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .search-result--item {
    width: 36% !important;
  }
  #year {
    display: none !important;
  } /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 550px) {
  #year {
    display: none !important;
  } 
}

@media screen and (min-width: 401px) and (max-width: 1085px) {
  .search-result--item {
    width: 73% !important;
  }
  .left {
    width: 200px !important;
  }

  .img {
    width: 200px !important;
  }
}

@media screen and (min-width: 1085px) and (max-width: 1400px) {
  .left {
    width: 150px !important;
  }

  .img {
    width: 150px !important;
  }
}

.right {
  width: 100%;
}

.left {
  width: 250px;
}

.title {
  height: 80%;
}

.bottom {
  height: 20%;
  position: relative;
  border-top-style: outset;
}

.year {
  float: left;
}

.details-button {
  float: right;
}

.centerHor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.centerHorLeft {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.txt-center {
  text-align: center;
}

.border-dotted {
  border-style: dotted;
  border-color: #f53668;
  background: #fdecf0;
  margin: 30px 13.5% 0 13.5%;
  color: #e41b4d;
  font-size: larger;
}

.border-welcome {
  border-style: dotted;
  border-color: #f2f5f7;
  background: #f2f5f7;
  margin: 30px 13.5% 0 13.5%;
  color: black;
  font-size: larger;
}

.m-t-30 {
  margin-top: 30px;
}

.submit-btn {
  width: 100px;
  background-color: #307afb;
  border: none;
  color: white;
  padding: 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  border-radius: 4px;
}

.color-grey {
  color: #d5d8dc;
}

.p-r-15 {
  padding-right: 15px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-hor-15 {
  padding: 0 15px;
}

.no-margin {
  margin: 0 !important;
}

.field-prop {
  color: #3b3e3f;
  font-size: small;
}

.movie-title {
  width: 100%;
  padding-top: 15px;
  font-size: large;
}

.img {
  height: 350px;
  width: 250px;
}

.movie-details {
  font-size: medium;
  height: 80%;
  overflow: auto;
}

.pagination-panel {
  text-align: center;
}
