.kt-badge {
	line-height: 8px !important;
	height: 17px !important;
}
.kt-badge.kt-badge--inline {
	width: 100px !important;
}

.kt-portlet__head {
	justify-content: flex-start !important;
}

.kt-portlet__head-toolbar {
	position: relative;
	width: 100%;
}

.new-button {
	align-content: space-evenly;
	float: right !important;
	position: absolute;
	right: 0;
	top: 12px;
}

.kt-badge-hcp {
	padding: 0;
	margin: 0;
	justify-content: center;
	align-items: center;
	font-size: .8rem;
	padding: 4px;
}
